/* body{
    display: flex; 
} */
/* 
.search{
    display: flex;
    justify-content: left;
    align-items: left;
} */

.header-card{
    background-image: linear-gradient(to right, blue,purple);
    color: white; 
    padding: 10 vh; 
    line-height: 2.5;
    text-align: center;

}

.card-title{
    line-height: 2.5; 
    align-items: center;
}

.card{
    background-color: #233954;
    border-radius: 25px;
    color: white; 
    display: inline-block;
}

.current-city{
    border: solid 1px; 
}